<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dateornotbackend.mapper.BlogCheckMapper">

    <delete id="DeleteBlogCheck">
        delete from BlogCheck where serial_num = #{serial_num}
    </delete>


    <select id="QueryBlogCheck" resultType="com.dateornotbackend.entity.BlogCheck">
        select * from BlogCheck
    </select>


    <select id="DetailBlogCheck" resultType="com.dateornotbackend.entity.BlogCheck">
        select * from BlogCheck where serial_num = #{serial_num}
    </select>

</mapper>